/.vscode
/8.0.401.aspNetCertificateSentinel
/8.0.401.dotnetFirstUseSentinel
/8.0.401.toolpath.sentinel
/8.0.401_IsDockerContainer.dotnetUserLevelCache
/8.0.401_MachineId.dotnetUserLevelCache
/MachineId.v1.dotnetUserLevelCache
/sdk-advertising
/TelemetryStorageService